﻿
@{
    ViewData["Title"] = Model.Action;
}
@model ArticleViewModel
<div style="background-color:lightgray;text-align:center;font-size:20px">@Model.Action</div>
<div class="container body-content">

    <form asp-area="Admin" asp-controller="Article" asp-action=@Model.Action>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="col-md-6 form-group">
            <label asp-for="@Model.Title">Title:</label>
            <input asp-for="@Model.Title" class="form-control" value="@Model.Title" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="col-md-6 form-group">
            <label asp-for="@Model.NewTags">New tags (separated by commas):</label>
            <input asp-for="@Model.NewTags" class="form-control" value="@Model.NewTags" />
            <span asp-validation-for="NewTags" class="text-danger"></span>
        </div>
        @if (ViewBag.Tags != null && ViewBag.Tags.Count > 0)
        {
            <div class="col-md-12 form-group">
                <label asp-for="@Model.TagIds">Tags:</label>
                <div>
                    @foreach (var m in ViewBag.Tags)
                    {
                        <span style="display:inline-block">
                            <input type="checkbox"
                                   value=@m.Id name="TagIds"
                                   @if (Model.Tags != null && Model.Tags.Any(t => t.Name == m.Name)) { <text> checked="checked" </text> }
                                   style="font-size:1.5rem;vertical-align:text-bottom" />
                            @m.Name

                        </span>
                        <span>
                            &nbsp
                        </span>
                    }
                </div>
            </div>
        }
        <div class="col-md-12 form-group">
            <label asp-for="@Model.Content">Content:</label>
            <textarea class="form-control" name="Content" rows="10" cols="60"> @Model.Content</textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>

        <div class="col-md-12 form-group" style="clear:left;width:100%;text-align:center">
            <button type="submit" class="btn btn-primary">SUBMIT</button>
        </div>
    </form>
</div>

