﻿@model AllUsersViewModel
@{
    ViewData["Title"] = "AdminPanel";
}
<div style="background-color:lightgray;text-align:center;font-size:20px">User Manager</div>
<div style="text-align: center;min-height:350px">
    <div style="display:inline-block">


        @if (Model.Users.Count > 0)
        {
                <form asp-controller="User" asp-action="AdminPanel" asp-route-page="@Model.PagingModel.CurrPage" formmethod="post">
           
                <table class="table table-striped" style="min-width:500px;width:100%;background-color:white">
                    <thead>
                        <tr>
                            <td style="width:30%"><b>UserName</b></td>
                            <td style="width:45%"><b>Email</b></td>
                            <td style="width:25%"><b>IsAdmin</b></td>

                        </tr>
                    </thead>
                    @foreach (var user in Model.Users)
                    {
                        <tbody>
                            <tr style="vertical-align:middle;">
                                <td>@user.UserName</td>
                                <td>@user.Email</td>
                                <td>


                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"
                                                   name="newAdmins"
                                                   value="@user.Id"
                                                   @if (user.IsAdmin)
                                                   { <text> checked="checked" disabled="disabled" </text> } />

                                        </label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
                @if (Model.NeedSubmit)
                {
                <input type="submit" class="btn btn-primary" value="Submit" />
                }
        </form>
        }
        else
        {
            < p > No users to show </ p >
        }
    </div>
</div>
@if (Model.PagingModel != null && Model.PagingModel.Pages > 0)
{
    <div style="background-color:lightgrey">
        @await Html.PartialAsync("_PagingPartial", @Model.PagingModel)
    </div>
}

