﻿@{
    ViewData["Title"] = "Access denied";
}
<div class="container body-content">
    <header>
        <h2 class="text-danger">@ViewData["Title"]</h2>
        <p class="text-danger">You do not have access to this resource.</p>
    </header>
</div>