﻿@{
    ViewData["Title"] = "Confirm email";
}
<div class="container body-content">
    <h2>@ViewData["Title"]</h2>
    <div>
        <p>
            Thank you for confirming your email.
        </p>
    </div>
    </div>
