﻿@model ExternalLoginViewModel
@{
    ViewData["Title"] = "Register";
}
<div class="container body-content">
    <h2>@ViewData["Title"]</h2>
    <h4>Associate your @ViewData["LoginProvider"] account.</h4>
    <hr />

    <p class="text-info">
        You've successfully authenticated with <strong>@ViewData["LoginProvider"]</strong>.
        Please enter an email address for this site below and click the Register button to finish
        logging in.
    </p>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-default">Register</button>
            </form>
        </div>
    </div>
    </div>
    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
