﻿@{
    ViewData["Title"] = "Forgot password confirmation";
}
<div class="container body-content">
    <h2>@ViewData["Title"]</h2>
    <p>
        Please check your email to reset your password.
    </p>
</div>