﻿@inject UserManager<ApplicationUser> UserManager
@model AllArticlesViewModel
@{
    ViewData["Title"] = "Index";
}

@if (User.IsInRole("Admin"))
{
    <div style="margin:20px auto 20px;text-align:center">
        <a asp-area="Admin" asp-controller="Article" asp-action="CreateArticle" class="btn btn-primary" style="width:80%">CREATE NEW ARTICLE</a>
    </div>
}

@foreach (var item in Model.Titles)
{
    <div class="titles" style="display:none">@item</div>
}
@foreach (var item in Model.Tags)
{
    <div class="tags" style="display:none">@item</div>
}
<div style="background-color:lightgrey;text-align:center">
    <span style="font-size: 20px">Articles </span>
    @if (!string.IsNullOrEmpty(@Model.PagingModel.IdRoute))
    {
        <span style="font-size: 12px">(Filter: @Model.PagingModel.IdRoute.Substring(5))</span>
    }

</div>
<div class="container body-content" style="min-height:300px">
    @if (Model.ArticleModels != null)
    {
        @foreach (var item in Model.ArticleModels)
        {
            <div>
                <h3>@item.Title </h3><span>(created by: <b>@item.CreatedByName</b>; </span><span>last edited by: <b>@item.LastEditedByName </b>on <b>@item.LastEditedOn.ToString("dd.MM.yyyy, HH:mm")</b>)</span>
                @if (item.Tags != null && item.Tags.Count > 0)
                {<p>
                        <span>Tags: </span>
                        @foreach (var tag in item.Tags)
                        {
                            <span>
                                <b><a asp-controller="Home" asp-action="Index" asp-route-id=@("_tag_"+tag.Name) asp-route-page="1">[@tag.Name]</a></b>
                            </span>

                        }
                    </p>
                }
                <p>
                    @item.Content.Substring(0, Math.Min(item.Content.Length, 100))

                    <span>
                        <a asp-area="" asp-controller="Article" asp-action="Details" asp-route-id=@item.Id>
                            @if (item.Content.Length > 100)
                            {
                                <text>...Read more...</text>
                            }
                            else
                            {
                                <text>...Details...</text>
                            }
                        </a>
                    </span>
                </p>
                <hr />
            </div>
        }
    }
    else
    {
        <h3>No articles found</h3>
    }
</div>
@if (Model.PagingModel != null && Model.PagingModel.Pages > 0)
{
    <div style="background-color:lightgrey;margin:0;width:100%;padding:0">
        @await Html.PartialAsync("_PagingPartial", @Model.PagingModel)
    </div>
}


