﻿
@model PagingViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="paging" style="width:100%;text-align:center">
    @if (Model.CurrPage > 1)
    {
        <span style="display:inline-block;width:10px">
            <a asp-route-id=@Model.IdRoute asp-route-page=@(Model.CurrPage-1) ><</a>
        </span>
    }
    else
    {
        <span style="display:inline-block;width:10px"></span>
    }

    @if (Model.CurrPage < 4)
    {
        @for (int i = 1; i <= Math.Min(4, Model.Pages); i++)
        {
            if (i == Model.CurrPage)
            {
                <a asp-route-id=@Model.IdRoute asp-route-page=@i ><b>@i </b></a>
            }
            else
            {
                <a asp-route-id=@Model.IdRoute asp-route-page=@i >@i </a>
            }

        }
        @if (Model.Pages > 5)
        {
            <span>.....</span>
        }
    }

    @if (Model.CurrPage > 3 && Model.CurrPage <= Model.Pages)
    {
        <a asp-route-id=@Model.IdRoute asp-route-page=1 >1 </a>
        @if (Model.Pages > 5)
        {
            <span>.....</span>
        }
        @if (Model.CurrPage > Model.Pages - 3 && Model.Pages > 5)
        {
            <span>.....</span>
        }
        @for (int i = Math.Max(2, Math.Min(Model.CurrPage - 1, Model.Pages - 3)); i <= Math.Min(Model.CurrPage + 1, Model.Pages); i++)
        {
            if (i == Model.CurrPage)
            {
                <a asp-route-id=@Model.IdRoute asp-route-page=@i ><b>@i </b></a>
            }
            else
            {
                <a asp-route-id=@Model.IdRoute asp-route-page=@i >@i </a>
            }
        }
    }

    @if (Model.CurrPage < Model.Pages - 2 && Model.Pages > 5)
    {
        <span>.....</span>
    }

    @if (Model.CurrPage < Model.Pages - 1 && Model.Pages > 4)
    {
        <a asp-route-id=@Model.IdRoute asp-route-page=@Model.Pages >@Model.Pages </a>
    }

    @if (Model.CurrPage < Model.Pages)
    {
        <span style="display:inline-block;width:10px;text-align:right">
            <a asp-route-id=@Model.IdRoute asp-route-page=@(Model.CurrPage+1) >></a>
        </span>
    }

</div>
