﻿@model ArticleViewModel
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Details";
}

<div class="container body-content" style="min-height:350px">
    <h3>@Model.Title </h3><span>(created by: <b>@Model.CreatedByName</b>; </span><span>last edited by: <b>@Model.LastEditedByName </b>on <b>@Model.LastEditedOn.ToString("dd.MM.yyyy, hh:mm")</b>)</span>
    @if (Model.Tags != null && Model.Tags.Count > 0)
    {<p>
            <span>Tags: </span>
            @foreach (var tag in Model.Tags)
            {
                <span>
                    <b><a asp-controller="Home" asp-action="Index" asp-route-id=@("_tag_"+tag.Name) asp-route-page="1">[@tag.Name]</a></b>
                </span>

            }
        </p>
    }
    <p>@Model.Content</p>
</div>
@if (User.IsInRole("Admin"))
{
<div style="text-align:center;margin:20px auto;">
    <a asp-area="Admin" asp-controller="Article" asp-action="UpdateArticle" asp-route-id=@Model.Id class="btn btn-primary" style="width:80%">EDIT</a>
</div>
}